// font size
@font-size-lg: 1.25rem;
@font-size-base: 0.9rem;
@font-size-sm: 0.2rem;
@line-height-base: 1.5;

// vertical paddings
@padding-lg: 2.5rem; // containers
@padding-md: 2.5rem; // small containers and buttons
@padding-sm: 1.5rem; // Form controls and items
@padding-xs: 1rem; // small items

// button
@border-radius-base: 1.25rem;
@border-radius-sm: 0.5rem;
@border-width-base: 2px; // width of the border for a component

@btn-font-weight: 400;

@btn-height-base: 2.5rem;
@btn-height-lg: 3rem;
@btn-height-sm: 1.8rem;


