@import "../variables.scss";

.#{atomify-stories}-atlayout {
  &__layout {
    margin-top: 10px;
  }
  &__header {
    background-color: greenyellow;
    min-height: 80px;
  }
  &__footer {
    background-color: red;
    min-height: 80px;
  }
  &__content {
    background-color: magenta;
    min-height: 120px;
  }
  &__sider {
    background-color: black;
    min-height: 120px;
  }
}
