@import "../variables.scss";

.#{atomify-stories}-atgrid {
  &__col--1 {
    text-align: center;
    background: red;
    margin-top: 10px;
    height: 40px;
  }

  &__col--2 {
    margin-top: 10px;
    text-align: center;
    background: black;
    height: 40px;
  }

  &__col--3 {
    margin-top: 10px;
    text-align: center;
    background: blue;
    height: 40px;
  }

  &__col--4 {
    margin-top: 10px;
    text-align: center;
    background: violet;
    height: 40px;
  }
}
