@import "../variables.scss";

.#{atomify-stories}-colors {
  &__container {
    margin-top: 10px;
  }

  &__colors--box-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f52220;
    margin-right: 2px;
    height: 100px;
  }

  &__colors--box-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4ebaca;
    margin-right: 2px;
    height: 100px;
  }

  &__colors--box-processing {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #faad14;
    margin-right: 2px;
    height: 100px;
  }

  &__colors--box-warning {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e74c3c;
    margin-right: 2px;
    height: 100px;
  }

  &__colors--box-error {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e82d50;
    margin-right: 2px;
    height: 100px;
  }

  &__colors--box-disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9d9d9;
    margin-right: 2px;
    height: 100px;
  }

  &__colors--box-text-color {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    color: white;
    margin-right: 2px;
    height: 100px;
  }

  &__colors--box-border-color {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d3d3d3;
    margin-right: 2px;
    height: 100px;
  }
}
